<div class="maked">
    <p>©Judith Van de Velde</p>
</div>

<script src="https://unpkg.com/isotope-layout@3.0.6/dist/isotope.pkgd.min.js"></script>
<script src="/js/script.js"></script>
</body>

</html>